asgiref==3.11.1
blinker==1.9.0
click==8.4.2
colorama==0.4.6
Django==6.1a1
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.5.3
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
SQLAlchemy==2.0.51
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
Werkzeug==3.0.4
